
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


body {
  background: linear-gradient(
    to bottom,
    #000000 0%,
    #1a0000 50%,
    #4d0000 100%
  );
  color: white;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  min-height: 100vh;
}

.splash {
    position: fixed;
    inset: 0;

    background: 
        linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.5)),
        url('assets/background.jpg') center/cover no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;

    z-index: 999;
}

.logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 12rem;
    letter-spacing: 6px;
    color: #e50914;
}
.transition {
    position: fixed;
    inset: 0;
    background: black;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;

    opacity: 0;
    pointer-events: none;
}

.transition.active {
    opacity: 1;
    pointer-events: all;
}

.transition .logo {
    font-size: 5rem;
    color: #e50914;

    transform: scale(1);
}

.transition.zoom .logo {
    animation: zoomNetflix 1.5s ease forwards;
}

@keyframes zoomNetflix {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    40% {
        transform: scale(1);
        opacity: 1;
    }

    70% {
        transform: scale(3);
        opacity: 1;
    }

    100% {
        transform: scale(8);
        opacity: 0;
    }
}

/* ANIMAÇÃO DA LUZ */
@keyframes shine {
    to {
        left: 100%;
    }
}


@keyframes netflixIntro {
    0% {
        transform: scale(0.3);
        opacity: 0;
        letter-spacing: 20px;
    }

    40% {
        transform: scale(1.2);
        opacity: 1;
    }

    70% {
        transform: scale(1);
        letter-spacing: 8px;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}
.hidden {
    opacity: 0;
    pointer-events: none;
}


header {
  display: flex;
  align-items: center;
  height: 70px;
  color: #e50914; 
  font-family: 'Arial Black', Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
  padding: 0 40px;
  letter-spacing: 2px;
}


main {
    min-height: calc(100vh - 70px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}


h2 {
    font-size: 3.2rem;
    font-weight: 400;
    color: #e5e5e5;
    text-align: center;
    letter-spacing: 1px;
}


.profiles {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.profile {
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.25s ease, opacity 0.25s ease;
}


.profile figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    transition: transform 0.25s ease, border 0.25s ease;
}


.profile figcaption {
    margin-top: 12px;
    color: #b3b3b3;
    font-size: 1.1rem;
    transition: color 0.25s ease;
}


.profile:hover {
    transform: scale(1.1);
}

.profile:hover figcaption {
    color: white;
}

.profile:hover img {
    border: 3px solid white;
}


.profiles:hover .profile {
    opacity: 0.5;
}

.profiles .profile:hover {
    opacity: 1;
}


.add-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}


button {
    background: none;
    border: none;
}


.add-box {
    width: 100%;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #1f1f1f;
    border-radius: 10px;
    border: 2px solid #333;

    cursor: pointer;
    transition: background-color 0.25s ease, border 0.25s ease;
}


.add-box span {
    font-size: 50px;
    color: #777;
    transition: color 0.25s ease;
}


.add-profile p {
    margin-top: 12px;
    font-size: 1.1rem;
    color: #777;
    transition: color 0.25s ease;
}


.add-profile:hover .add-box {
    background-color: #333;
    border-color: white;
}

.add-profile:hover .add-box span,
.add-profile:hover p {
    color: white;
}


.bt-manage-profile {
    margin-top: 20px;
    padding: 14px 40px;

    background: #1f1f1f;
    border: 1px solid #333;
    border-radius: 4px;

    color: #e5e5e5;
    font-size: 1.1rem;

    cursor: pointer;
    transition: all 0.3s ease;
}

.bt-manage-profile:hover {
    background: #333;
    border-color: white;
    color: white;
    transform: scale(1.05);
}

button:focus {
     outline: 2px solid #e50914;
    outline-offset: 3px;
}
.enter-btn {
    padding: 14px 40px;

    background: #e50914;
    color: white;

    border: none;
    border-radius: 4px;

    font-size: 1.2rem;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s;
}

.enter-btn:hover {
    background: #f40612c8;
    transform: scale(1.05);
}

.enter-btn:hover {
    background: #cec5c5;
}
.transition {
    position: fixed;
    inset: 0;
    background: black;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 998;

    opacity: 0;
}

/* quando ativa */
.transition.active {
    opacity: 1;
}

/* animação da logo */
.transition .logo {
    font-size: 5rem;
    color: #e50914;
    animation: zoom 1s ease;
}


@media (max-width: 768px) {

    body {
        padding: 20px;
    }

    h2 {
        font-size: 2rem;
    }

    .profiles {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
        justify-items: center;
    }

    .profile {
        width: 120px;
    }

    .profile img,
    .add-box {
        height: 120px;
    }

    .profile figcaption {
        font-size: 0.9rem;
    }
}